/* common */
html, body {width:100%;height:100%;overflow-x:hidden;}
.tokyo-wrap, .wrap {width:100%;height:100%;position:relative;}

/* 1차 */
.about {text-align: center;}
.about-txt {font-size:30px;}
ul {width:100%;height:630px;}
ul li {float:left;height:591px;width:25%;list-style: none;position:relative;}
.main-wrap {width:100%;height:100%;}
.main-wrap img {position:absolute;top:0;bottom:0;margin:auto;}
ul li img {height:591px;width:auto;position: relative;}
span {color:#e62719;font-size:30px;display:none;}
/* .info {display: none;} */
.inner-city {position:absolute;top:0;}