html, body, div, span, a, object, iframe, h1, h2, h3, h4, h5, h6,
 p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, 
 ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd,
  ol, ul, li, p, fieldset, form, label, legend, table, caption, tbody, 
  tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, 
  menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    letter-spacing: -.02em;
    white-space: normal;
    word-break: break-all;
  }
video {
    object-fit: contain;
    width:100%;
}
div{
    display:block;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

ul,li{ 
  list-style: none; 
}

a{
  text-decoration: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
body{
    margin:0 auto;
    width: 100%;
    overflow-x: hidden;
}

