/* 화면 */
html,body,section{    
    height: 100%;    
    background-color: #fffced;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    box-sizing:border-box;
}
section{
    display: flex;
    align-items : center;
    justify-content : center;
}
section article{
    /* width: 60%; */
    line-height: 1.5rem;    
}
