@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

html,body{
    height: 100%;
    background: url('../img/main/saulbass.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

.main_{position: absolute;font-family: 'Open Sans', sans-serif;color: white;}
.main_ h1{font-size: 100px;margin-top: 10%;margin-left: 50px;}
.main_ p{margin-left: 50px;}
  


/******** menu *******/
/* .menu{
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
} */