@import url('https://fonts.googleapis.com/css?family=Timmana');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
a{text-decoration: none;}
/* finish */
body{
    font-family: 'Timmana', sans-serif;
	color: white;
}
nav{
    font-size: 20px;
    position: fixed;
    display: block;
    height: 100%;
    background-color: rgba(255,255,255,0.3);
    min-width: 200px;
    top: 0;
    right: 0;
    z-index: 1;
   /*  animation: menuSlide 2s ease-in-out normal; */
}
nav ul{
    margin-top: 50px;
}
nav ul li{
    padding: 20px;
    text-align: end;
}
nav ul li a{
    color: white;
}
nav ul li:hover{
    border-right: solid 5px white;
    border-left: solid 5px white;
    background-color: rgba(255,255,255,0.4);
}
header img{
    position: fixed;
    width: 80px;
    left: 10%;
    top:10%;
}
article{
    color: white;
    background-color: black;
    height: 100vh;
}
video{
/*     position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto; */
    transform: translateX(0%) translateY(-15%);
    position: fixed;
    top: 0; 
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -10;
}
#maintxt{
    position: absolute;
    display: block;
    bottom: 10%;
    left: 10%;
    z-index: 10;
    /* animation: txtOpersity 3s ease-in; */
}
#maintxt h1{
    font-size: 50px;
}
#header{
    background-color: transparent;
}
#biography{
    background: url("../images/_T4A9996.jpg")no-repeat;
    background-size: cover;
}
.BiographyTxt{
    position: relative;
    top: 65%;
    left: 10%;
    display: block;
    width: 370px;
}
.BiographyTxt>h1{
    margin-bottom: 10px;
    font-size: 18px;
}
.BiographyTxt>p{
    font-size: 12px;
    line-height: 20px;
}
#work{
    top: 10%;
}
#work>ol{
    font-size: 10px;
    line-height: 15px;
}
.profile{
    height: 100%;
    width: 50%;
    float: left;
    color: transparent;
}
.profile .profTxt{
    display: block;
    position: relative;
    text-align: center;
    top: 50%;
}
.profile:hover{
    color: white;
    opacity: 0.5;
}
.profile:nth-child(1){
    /*background-color:red;*/
    background: url("../images/_T4A9852.jpg")no-repeat;
    background-size: cover;
}
.profile:nth-child(2){
    /*background-color:#FFD200;*/
    background: url("../images/_T4A8669.jpg")no-repeat;
    background-size: cover;
}
#musicplayer>img{
    width: 600px;
    height: 600px;
}
section .atc1 div{margin: 0 auto;}

.atc1 > div ul{width: 700px; margin: 0 auto;display: block;margin-top: 100px;}
.atc1 > div ul li {
    width: 600px;
    height:600px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  overflow: hidden;
}
.atc1 > div ul li:first-child{background:url(../images/redPlanet.png)no-repeat;background-size: cover;}
.atc1 > div ul li:nth-child(2){background:url(../images/redDiary.png)no-repeat;background-size: cover;background-position:bottom}
.atc1 > div ul li:nth-child(3){background:url(../images/redDiary.png)no-repeat;background-size: cover;}

iframe{width: 100%; height: 100%;}
.atc1 > div ul li p {
  color: white;
  font-weight: bold;
  font-size: 5em;
  text-align: center;
  margin-top: 1.175em;
}

.atc1 > div ul .items {
  position: absolute;
}

.atc1 > div ul .main-pos {
  margin-left:0 !important;
  z-index: 3000;
}

.atc1 > div ul .left-pos {
  opacity: .5;
  margin-left: -12em !important;
  z-index: 1000;
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  transform: scale(.75);
}

.atc1 > div ul .back-pos {
  margin-left: 0 !important;
  opacity: .05;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  transform: scale(.5);
}

.atc1 > div ul .right-pos {
  opacity: .5;
  margin-left:  12em !important;
  z-index: 1000;
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  transform: scale(.75);
}
 .atc1 > div
{text-align: center;}
.atc1 > div span {position:relative;top:50%;}
.atc1 span a{color: white;position: absolute;z-index: 99999;width:70px;height: 100px;border:0;font-size: 0;top:50%;cursor: pointer;opacity: 0.4;transition-property:all; transition-duration: 0.4s ;}
.atc1 span a:hover{opacity:1;}
.atc1 #prev{left:10%;background:url(
../img/leftBt.png)no-repeat;}
.atc1 #next{right:10%;background:url(
../img/rightBt.png)no-repeat;}

/* 가로가 1500px 이하일때 */
@media (max-width: 1000px)
{
    #part2{
        background-size: 160%;
        background-color:#111111;
    }
}
/* 가로가 1000px 이하일때 */
@media (max-width: 770px)
{
    #part2{
        background-size: 180%;
        background-color:#111111;
    }
}
/* 가로가 770px 이하일때 */
@media (max-width: 480px)
{
    #part2{
        background-size: 210%;
        background-color:#111111;
    }
}