.btn, .btn::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn {
  background: none;
  border: 1px solid #fff;
  color: #fff;
  display: block;
  position: relative;
  z-index: 1;
  /*text-transform: uppercase;*/
  overflow: hidden;
}

.btn::before, .btn::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

.btn:hover {
  color: #333;
}

.btn::after {
  height: 100%;
  left: 0;
  top: 0;
  transform: skew(-40deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

.btn:hover:after {
  height: 100%;
  width: 145%;
}
