html, body, section{height : 100%}

.fav_artist_wrap{
}
.fav_artist_wrap h2{
    font-size: 58px;
}
.fav_artist_wrap .grey_box{
    width: 100%;
    height: 540px;
    background-color: #f9f8f8;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
}
.fav_artist_wrap .grey_box::-webkit-scrollbar {display:none;}
.fav_artist_wrap .grey_box ul{
    float: left;
}
.fav_artist_wrap .grey_box>ul{
    width: 2184px;
}
.fav_artist_wrap .grey_box ul .artist{
    float: right;
}

.fav_artist_wrap .grey_box ul .artist .shbox{
    width: 680px;
    height: 447px;
    margin: 46.5px 17px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 20px #E3E3E3;
}
.fav_artist_wrap .grey_box ul .artist .justin{
    background-image: url('../img/justin.png');
    background-size: 447px;
    background-repeat: no-repeat;
    background-position-x: 230px;
}
.fav_artist_wrap .grey_box ul .artist .troye{
    background-image: url('../img/troye.png');
    background-size: 447px;
    background-repeat: no-repeat;
    background-position-x: 230px;
    background-position-y: 20px;
}
.fav_artist_wrap .grey_box ul .artist .cold{
    background-image: url('../img/coldplay.png');
    background-size: 580px;
    background-repeat: no-repeat;
    background-position-x: 190px;
    background-position-y: 20px;
}

.fav_artist_wrap .grey_box ul .artist .shbox h3{
    font-size: 40px;
    padding: 70px 0 0 30px;

}
.fav_artist_wrap .grey_box ul .artist .shbox>dl{
    padding: 0 0 0 30px;
}
.fav_artist_wrap .grey_box ul .artist .shbox dl>dt{
    margin-top: 8px;
    font-size: 20px;
}
.fav_artist_wrap .grey_box ul .artist .shbox dl dd{}
.fav_artist_wrap .grey_box ul .artist .shbox dl dd ul{}
.fav_artist_wrap .grey_box ul .artist .shbox dl dd ul li{}
.fav_artist_wrap .grey_box ul .artist .shbox dl dd ul li a{}
.fav_artist_wrap .grey_box ul .artist .shbox dl dd ul li a .albumcover{
    width: 46px;
    height: 46px;
    border-radius: 3px;
    margin: 0;
    background-color: blue;
    background-image: url('../img/a5.png');
    background-size: cover;
}
.fav_artist_wrap .grey_box ul .artist .shbox dl dd ul li a .albumcover img{
    width: 46px;
    height: 46px;
    border-radius: 3px;
    margin: 0;
}
.fav_artist_wrap .grey_box ul .artist .shbox dl dd ul li a dl{
    float: right;
    margin: -46px 0 0 55px;
    line-height: 21px;
}
.fav_artist_wrap .grey_box ul .artist .shbox dl dd ul li a dl dt{
    font-size: 17px;
    color: #4d4c4c;
}
.fav_artist_wrap .grey_box ul .artist .shbox dl dd ul li a dl dd{
    font-size: 15px;
    color: #9b9b9b;
}

/*---------------------GRID--------------------*/
* { box-sizing: border-box; }

/* ---- grid ---- */
.bcbg{
    background-color: #f9f8f8;
    width: 100%;
    height: 600px;
}
.grid {
  max-width: 1390px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  margin-bottom: 10px;
  width: 190px;
  height: 190px;
  float: left;
  background: #D26;
  border: 1px solid #333;
  border-radius: 5px;
  background-image: url('../img/a3.jpg');
  background-size: cover;
}

.grid-item--width2 { width: 390px; }
.grid-item--width4 { width: 290px; }

.grid-item--height2 { height: 390px; }
.grid-item--height4 { height: 290px; }

.bc1{
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(61,226,255,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(61,226,255,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(61,226,255,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(61,226,255,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(61,226,255,1) 100%);
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(61,226,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#3de2ff', GradientType=1 );
}
/* ---- musicplayer ---- */
.playerui{height: 100%;
width: 380px;
position: fixed;
background-color: blue;
top: 0;
right: 0;
text-align: center;}
.playerui>div{}
.albumcover{}
.albumcover .cover{
    width: 350px;
    height: 350px;
    background-color: red;
    margin-left: 15px;
    margin-top: 75px;
}
.albumcover .songinfo{margin-top: 60px;}
.albumcover .songinfo p{padding: 10px 0 10px 0;}
.albumcover .songinfo .songname{font-size: 27px;}
.albumcover .songinfo .artistname{font-size: 17px;}
.albumcover .songinfo .albumname{font-size: 17px;}
.albumcover ul{}
.albumcover ul li{float: right;}