*{padding: 0; margin: 0;}

body{
   font: 400 12px/1 'Helvetica Neue', Helvetica, Arial, sans-serif;
   -webkit-font-smoothing: antialiased; 
}
#main{
    background-color:black;
    width: 100%;
    height: 800px
}
.page{
    margin: 0 auto;
    padding-top: 370px;
}
#home-news{
    font-size: 40px;
	text-align:center;
	color:#fff;
	height: 45px;
	overflow:hidden;
    text-transform: uppercase;
	position:relative;
}.home_header {
	position:absolute;
	width:100%;
	z-index:99;
	color:#fff;
}
.home_header_on {
	z-index:100;
}.home_header strong {
	color: white;
}.home_header span, .home_header strong {
	position:relative;
	top:-50px;
}.home_header_on *:nth-child(1) {
	 top: 0;
	-webkit-transition: top .6s ease-in-out;
	-moz-transition: top .6s ease-in-out;
	 transition: top .6s ease-in-out;
}.home_header_on *:nth-child(2) {
	top: 0;
	-webkit-transition: top .6s ease-in-out .15s;
	-moz-transition: top .6s ease-in-out .15s;
	transition: top .6s ease-in-out .15s;
}.home_header_on *:nth-child(3) {
	top: 0;
	-webkit-transition: top .6s ease-in-out .3s;
	-moz-transition: top .6s ease-in-out .3s;
	transition: top .6s ease-in-out .3s;
}.home_header_out *:nth-child(1) {
	top: 50px;
	-webkit-transition: top .6s ease-in-out;
	-webkit-transition: top .6s ease-in-out;
	-moz-transition: top .6s ease-in-out;
}.home_header_out *:nth-child(2) {
	top: 50px;
	-webkit-transition: top .6s ease-in-out .15s;
	-moz-transition: top .6s ease-in-out .15s;
	transition: top .6s ease-in-out .15s;
}.home_header_out *:nth-child(3) {
	top: 50px;
	-webkit-transition: top .6s ease-in-out .3s;
	-moz-transition: top .6s ease-in-out .3s;
	transition: top .6s ease-in-out .3s;
}

a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: lightgray;
}

#menuToggle
{
  display: block;
  position: fixed;
    top: 30px;
    margin-left: 20px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2;
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
  position: absolute;
  width: 100px;
  margin: -50px 0 0 -50px;
  padding: 60px;
  padding-top: 50px;
  
  background: #fff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 0;
    font-size: 22px;
}


#menuToggle input:checked ~ ul
{
    transform: none;
}

#about{
    width: 100%;
    height: 450px;
    text-align: center;
}
#about h2{
    padding-top: 80px;
    font-size: 40px;
}
#about h3{
    font-size: 22px;
    line-height: 40px;
}
#button{
    margin-top: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 22px;
}
#button a{
    display:inline-block;
	transition:none;
	border:2px solid #000;
	border-radius:30px;
	transition: all 0.3s ease;
	width:100px;height:40px;
    cursor: pointer;
}
#Portfolio{
    width: 100%;
    height: 650px;
    text-align: center;
    background-color: #000000;
}
#Portfolio h2{
    padding-top: 80px;
    font-size: 40px;
    color: #fff;
}
#Portfolio h3{
    margin-top: 50px;
    font-size: 20px;
    color: #fff;
}
.container{
	margin: 4% auto;
	width: 210px;
	height: 140px;
	position: relative;
	perspective: 1000px;
}
#carousel{
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 20s infinite linear;
}
#carousel:hover{
	animation-play-state: paused;
}
#carousel figure{
	display: block;
	position: absolute;
	width: 186px;
	height: 200px;
	left: 10px;
	top: 10px;
	background: white;
	overflow: hidden;
	border: solid 5px white;
}
#carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#carousel figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
#carousel figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
#carousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
#carousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
#carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
#carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
#carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
#carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}

img{
	-webkit-filter: grayscale(1);
	cursor: pointer;
	transition: all .5s ease;
}
img:hover{
	-webkit-filter: grayscale(0);
}
img{
    width: 186px;
    height: 200px;
}
@keyframes rotation{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}
#contact{
    width: 100%;
    height: 260px;
    text-align: center;
    background-color: white;
}
#contact h2 {
    padding-top: 50px;
    font-size: 40px
}
#contact h3{
    margin-top: 30px;
    font-size: 20px;
    line-height: 30px;
}