body {width:100%;height:100%;background-color:#ccd4ee;}
div#title {margin-left:30px;margin-top:30px;font-size:18px;position:absolute;}
div#title > h1 {margin-left:10px;}
div.menu > button#menu_bt {float:right;margin-top:2%;margin-left:95%;z-index:9999;position:absolute;background-color:transparent;border:none;padding:0px;}
div.menu > button#menu_bt:hover{cursor:pointer;border:none;}
div.menu > ul {height:100%;width:100%;position:absolute;background-color:black;z-index:100;display:none;list-style:none;}
div.menu > ul > li {width:100%;height:50px;font-size:30px;text-align:center;margin-top:5%;color:white;}
div.menu > ul > li:hover{background-color:#ccd4ee;cursor:pointer;}
div.menu > ul > li#poster1{margin-top:16%;}
section {width:100%;height:100%;position:absolute;}
section.poster3 {display:none;}
section.poster2 {display:none;}

section.poster1 > div {
    width:380px;height:520px;background-color:black;
    text-align:center;overflow:hidden;position: absolute;
    margin: calc(50vh - 45vh) calc(50vw - 33vh);
    margin-top:100px;
    box-shadow:6px 6px 50px gray;
    }
section.poster1 > div > div {
    width:40px;height:40px;
    border-radius:100%;
    border:25px solid skyblue;
    opacity:0.7;
    position:absolute;
}
section.poster1 > div > div#box{
    border:none;
    border-radius:0%;
    width:380px;height:32px;
    z-index:10;
    opacity:0.8;
    background-image:linear-gradient(180deg, #F4AFF8,#67C5FC);
}
section.poster1 > div > div#donut2{
    margin-left:65px;
}
section.poster1 > div > div#donut3{
    margin-left:195px;
}
section.poster1 > div > div#donut4{
    margin-top:65px;
}
section.poster1 > div > div#donut5{
    margin-top:75px;
    margin-left:75px;
}
section.poster1 > div > div#donut6{
    margin-top:65px;
    margin-left:130px;
    border-color:red;
}
section.poster1 > div > div#donut7{
    margin-top:81px;
    margin-left:140px;
    border-color:yellowgreen;
}
section.poster1 > div > div#donut8{
    margin-top:65px;
    margin-left:195px;
}
section.poster1 > div > div#donut9{
    margin-top:75px;
    margin-left:264px;
}
section.poster1 > div > div#donut10{
    margin-top:130px;
}
section.poster1 > div > div#donut11{
    margin-top:130px;
    margin-left:65px;
}
section.poster1 > div > div#donut12{
    margin-top:140px;
    margin-left:75px;
}
section.poster1 > div > div#donut13{
    margin-top:130px;
    margin-left:130px;
}
section.poster1 > div > div#donut14{
    margin-top:143px;
    margin-left:205px;
}
section.poster1 > div > div#donut15{
    margin-top:195px;
    margin-left:65px;
}
section.poster1 > div > div#donut16{
    margin-top:205px;
    margin-left:75px;
}
section.poster1 > div > div#donut17{
    margin-top:205px;
    margin-left:140px;
}
section.poster1 > div > div#donut18{
    margin-top:195px;
    margin-left:130px;
}
section.poster1 > div > div#donut19{
    margin-top:195px;
    margin-left:195px;
}
section.poster1 > div > div#donut20{
    margin-top:205px;
    margin-left:205px;
}
section.poster1 > div > div#donut21{
    margin-top:270px;
    margin-left:140px;
}
section.poster1 > div > div#donut22{
    margin-top:270px;
    margin-left:260px;
}

    
section.poster2 > div {
    width:360px;height:500px;background-color:#e4dad8;
    text-align:center;overflow:hidden;position: absolute;
    margin: calc(50vh - 45vh) calc(50vw - 33vh);
    margin-top:100px;
    box-shadow:6px 6px 50px gray;
    }
section.poster2 > div > div{
    position:absolute;
    opacity:0.8;
}
section.poster2 > div > div.donut{
    width:40px;height:40px;
    border-radius:100%;
    border: 30px solid;
}
section.poster2 > div > div.circle{
    width:100px;height:100px;
    border-radius:100%;
}
section.poster2 > div > div.yellow{
    background-color:#ffdd33;
    margin-left:10px;
    margin-top:-50px;
}
section.poster2 > div > div.black{
    border-color:black;
    margin-left:160px;
    margin-top:50px;
}
section.poster2 > div > div.navy{
    border-color:#00173d;
    margin-left:10px;
    margin-top:150px;
    z-index:90;
}
section.poster2 > div > div.red{
    background-color:#e7402e;
    margin-left:60px;
    margin-top:150px;
}
section.poster2 > div > div.salmon{
    border-color:salmon;
    margin-left:310px;
    margin-top:150px;
}
section.poster2 > div > div.brown{
    background-color:#6f422f;
    margin-left:-50px;
    margin-top:250px;
}
section.poster2 > div > div.blue{
    border-color:#000080;
    margin-left:160px;
    margin-top:250px;
    z-index:90;
}
section.poster2 > div > div.pink{
    background-color:#8c145b;
    margin-left:160px;
    margin-top:300px;
}
section.poster2 > div > div.darkblue{
    background-color:#00173d;
    margin-left:310px;
    margin-top:300px;
}
section.poster2 > div > div.purple{
    background-color:purple;
    margin-left:50px;
    margin-top:450px;
}
section.poster2 > div > div.circle{
    width:100px;height:100px;
}
section.poster2 > div > div.text{
    color:black;
    font-weight:800;
}
section.poster2 > div > div.title{
    font-size:18px;
    margin-top:10px;
    margin-left:8px;
}
section.poster2 > div > div.number{
    font-size:18px;
    margin-top:10px;
    margin-left:308px;
}
section.poster2 > div > div.name{
    text-align:left;
    font-size:13px;
    margin-top:420px;
    margin-left:10px;
}

section.poster3 > div {
    width:360px;height:500px;background-color:#ff4500;
    text-align:center;overflow:hidden;position: absolute;
    margin: calc(50vh - 45vh) calc(50vw - 33vh);
    margin-top:100px;
    box-shadow:6px 6px 50px gray;
}
section.poster3 > div > div#keyboard_white > div{
    width:13px;height:70px;
    background-color:white;
    float:left;
    margin-top:120px;
    margin-right:5px;
}
section.poster3 > div > div#keyboard_white > div#c1{
    margin-left:2.5px;
}
section.poster3 > div > div#keyboard_white > div#a3{
    margin-right:0px;
}
section.poster3 > div > div#keyboard_black > div{
    width:13px;height:65px;
    background-color:black;
    position:absolute;
    margin-top:85px;
}
/*1*/
section.poster3 > div > div#keyboard_black > div#c1b{
    margin-left:12px;
}
section.poster3 > div > div#keyboard_black > div#d1b{
    margin-left:29px;
}
section.poster3 > div > div#keyboard_black > div#f1b{
    margin-left:65px;
}
section.poster3 > div > div#keyboard_black > div#g1b{
    margin-left:83px;
}
section.poster3 > div > div#keyboard_black > div#a1b{
    margin-left:102px;
}
/*2*/
section.poster3 > div > div#keyboard_black > div#c2b{
    margin-left:137px;
}
section.poster3 > div > div#keyboard_black > div#d2b{
    margin-left:155px;
}
section.poster3 > div > div#keyboard_black > div#f2b{
    margin-left:191px;
}
section.poster3 > div > div#keyboard_black > div#g2b{
    margin-left:210px;
}
section.poster3 > div > div#keyboard_black > div#a2b{
    margin-left:228px;
}
/*3*/
section.poster3 > div > div#keyboard_black > div#c3b{
    margin-left:264px;
}
section.poster3 > div > div#keyboard_black > div#d3b{
    margin-left:282px;
}
section.poster3 > div > div#keyboard_black > div#f3b{
    margin-left:317px;
}
section.poster3 > div > div#keyboard_black > div#g3b{
    margin-left:336px;
}
section.poster3 > div > div.text{
    position:absolute;
    text-align:right;
    font-weight:800;
    font-size:30px;
    margin-top:350px;
    margin-left:170px;
    color:white;
}
section.poster3 > div > div.text > span{
    color:black;
}
section.poster3 > div > div.text > div#up{
    padding-bottom:40px;
}
section.poster3 > div > hr{
    position: absolute;
    width:100%;height:1px;
    margin-top:480px;
}




