body {background-color: #000; color: #fff;}
header {height: 70px; text-align: center;}
header h1 {padding: 25px 0 0 0;}
section {}
section article.main {width: 100%; height: 100%; text-align: center;}
section article.main h2 {}
section article.main p {}
section article.main ul {margin: 0 auto; width: 304px;}
section article.main ul li {float: left; list-style: none;}
section article.main ul li a {}
section article.intro {clear: both; width: 100%; height: 100%;}
section article.intro p {text-align: center;}
section article.intro div {padding: 0 5%;}
section article.trackList {}
section article.trackList div {}
section article.trackList div:nth-child(2n) {color:#f00; text-align: right;}
section article.trackList div div {}
section article.trackList div div p {}
section article.trackList div div p span {}
section article.trackInfo {}
section article.trackInfo div {display: none;}
section article.trackInfo div h3 {}
section article.trackInfo div h3 span {}
section article.trackInfo div p {}
section article.trackInfo div div {}
section article.trackInfo div div dl {}
section article.trackInfo div div dl dt {}
section article.trackInfo div div dl dd {}
footer {}
footer a.totop {}