body {max-width: 1920px; min-width: 1280px; overflow: auto;}

header {*display: none; position: fixed; padding: 0; width: 260px; height: 100vh; z-index: 9000;*background-color: #000;}
header h1.title {font-size: 36px; margin: 20px 0 0 20px;}
header h1.title a {color: #bc0000;}
header h1.title a span {display: block; color: #fff; font-weight: 200; padding-top: 5px; padding-left: 4px; font-size: 14px; margin-bottom: 50px; opacity: 0.6;}
header div.menuOpen {position: fixed; top: 45%; right:20px;cursor: pointer; color: #fff;}
header nav {z-index: 9999; display: none; position: fixed; top: 0; width: 100%; height: 1080px; background-color: rgba(255, 255, 255, 0.5); }
header nav div.menuClose {position: fixed; top: 45%; right:20px; cursor: pointer;color:#fff;}
header nav ul {display: inline-block; position: absolute; top: 39%; left: 42%;}
header nav ul li {padding: 5px 10px 8px; background-color: #000; float: left; display: inline-block; margin: 0 20px;}
header nav ul li a {color: #fff;  font-size: 18px;}
header nav ul li ul {display: none; float: right;}
/*header nav ul li:hover ul {display: block;}*/
header nav ul li ul li {}
header nav ul li ul li a {}
header div.sns {position: fixed; bottom:20px; left: 20px;}
header div.sns ul {}
header div.sns ul li {float: left; margin-right: 15px;}
header div.sns ul li a {background-color: #2b2b2b; display: block; width: 40px; height: 40px; font-size: 0; text-indent: -9999; color: transparent; border-radius: 50%;}

section {width: 100%; height: 100vh;}
.wrap {width: 100%; height: 100%; }
.main {background-color: #000; width: 100%; height: 100%; overflow: hidden;}
.main_img {width: 100%; height: 100%; overflow: hidden; 
    background-image: url(../images/takeoneprofile.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 0%; z-index: 999;
}
.main_img div {color: #fff; font-size: 200px; position: absolute; top: 35%; left: 20px;}
.main_img div span {color: #fff; display: block; font-size: 30px; position: absolute; top: 220px;right:4%;}
.main_img p {color: #b3b3b3; padding: 20px 0 0 0; font-size: 12px; position: absolute; bottom: 30px; right: 25px;}

.about {width: 100%; height: 100%; background-color: #000; position: relative; overflow: hidden;}
.about .about_img {position: absolute; width: 22%; height: 100%;
    background-image: url(../images/takeone1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 45% 0%;
    left: 39%;
    opacity: 0;
}
.about .about_img1 {position: absolute; width: 22%; height: 100%;
    background-image: url(../images/takeone2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 45% 0%;
    left: 39%;
    opacity: 0;
}
.about .about_img2 {position: absolute; width: 22%; height: 100%;
    background-image: url(../images/takeone3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 45% 0%;
    left: 39%;
    opacity: 1;
}
.about .nav {z-index: 9955; position: absolute; color: #fff; top: 45%; transform:  rotate(90deg); margin-left: -50px;}
.about .nav ul {}
.about .nav ul li {margin: 0 10px; float: left;}
.about .nav ul li a {cursor: pointer;}
.about .aboutWrap {width: 100%; height: 3240px; position: absolute; margin-top: 0;}
.about .profile {color: #fff; width: 100%; height: 1080px;}
.about .profile h2 {position: absolute; top: 325px; right:32%; font-size: 60px; letter-spacing: 2px;}
.about .profile p {position: absolute; top: 400px; right:32.3%; font-size: 24px; letter-spacing: 2px;}
.about .profile p span.bar {width:40px; height: 4px; background: #fff; display: inline-block; margin-bottom: 6px; margin-right: 10px;}
.about .profile div.info {font-size: 20px; position: absolute; left:63%; top: 440px;}
.about .profile div.info ul {}
.about .profile div.info ul li {margin: 13px 0;}
.about .profile div.info ul li:first-child {margin: 20px 0 13px;}
.about .profile div.info ul li dl {}
.about .profile div.info ul li dl dt {font-weight: 600; float: left; width: 134px; display: inline-block;margin-right: 10px;}
.about .profile div.info ul li dl dd {display: inline-block; }
.about .profile div.info_text {position: absolute;  top: 600px; left: 63%; text-align: left;}
.about .profile div.info_text p {position: relative; top: 0; right: 0; font-size: 14px; letter-spacing: 1px; line-height:16px; margin: 20px 0;}
.about .career {width: 100%; height: 1080px;  color:#fff; z-index: 9998;}
.about .career ul {width:100%; height: 100%;position: absolute;}
.about .career ul li:nth-child(n){font-size: 18px; width: 800px; background-color: #000; padding: 5px 10px 10px;}
.about .career ul li:nth-child(1){text-align: right; position: absolute; right: 59%; top: 70px;}
.about .career ul li:nth-child(2){text-align: left; position: absolute; left: 59%; top: 170px;}
.about .career ul li:nth-child(3){text-align: right; position: absolute; right: 59%; top: 270px;}
.about .career ul li:nth-child(4){text-align: left; position: absolute; left: 59%; top: 370px;}
.about .career ul li:nth-child(5){text-align: right; position: absolute; right: 59%; top: 470px;}
.about .career ul li:nth-child(6){text-align: left; position: absolute; left: 59%; top: 570px;}
.about .career ul li:nth-child(7){text-align: right; position: absolute; right: 59%; top: 670px;}
.about .career ul li:nth-child(8){text-align: left; position: absolute; left: 59%; top: 770px;}
.about .showme {width: 100%; height: 1080px; color: #fff; z-index: 9998;}
.about .showme .smtm {width: 100%; height: 100%;position: absolute;}
.about .showme .smtm .desc {position: absolute; top: 400px; font-size: 20px; line-height: 30px; left: 10%;}
.about .showme .smtm .desc span {background-color: #3b3b3b; padding: 5px 10px 8px;}
.about .showme .smtm .clip {color: #b3b3b3;position: absolute; text-align: right; top: 700px; right: 5%; font-size: 16px;}
.about .showme .smtm .clip ul {}
.about .showme .smtm .clip ul li {margin-bottom: 20px;}


.album {width: 100%; height: 100%; overflow: hidden; position: absolute; background-color: #000;}
.album .albumList { height: 100%; overflow: hidden; position: absolute; right: 4%; padding: 10px 0;}
.album .albumList ul {}
.album .albumList ul li { display:block; width: 300px;}
.album .albumList ul li a {width: 300px;}
.album .albumList ul li a img {width: 300px;}
.album .albumList ul li a dl {background-color: rgba(0, 0, 0, 0.5); width: 300px; height: 300px; text-align: center; display: none; position: absolute; margin-top: -302px; color: #fff;}
.album .albumList ul li a:hover dl {background-color: rgba(0, 0, 0, 0.5); width: 300px; height: 300px; text-align: center; display: block; position: absolute; margin-top: -302px;color: #fff;}
.album .albumList ul li a dl dt {padding-top: 120px; padding-bottom: 15px; font-size: 20px; font-weight: 700; }
.album .albumList ul li a dl dd {}

.album .albumList ul li:first-child, .album .albumList ul li:last-child { display:block; width: 100px; margin: 0 100px;}
.album .albumList ul li:first-child a, .album .albumList ul li:last-child a {width: 100px;}
.album .albumList ul li:first-child a img, .album .albumList ul li:last-child a img {width: 100px;}
.album .albumList ul li:first-child a dl, .album .albumList ul li:last-child a dl {background-color: rgba(0, 0, 0, 0.5); width: 100px; height: 100px; text-align: center; display: none; position: absolute; margin-top: -102px; color: #fff;}
.album .albumList ul li:first-child a:hover dl, .album .albumList ul li:last-child a:hover dl {background-color: rgba(0, 0, 0, 0.5); width: 100px; height: 100px; text-align: center; display: block; position: absolute; margin-top: -102px;color: #fff;}
.album .albumList ul li:first-child a dl dt, .album .albumList ul li:last-child a dl dt {padding-top: 35px; padding-bottom: 8px; font-size: 12px; font-weight: 700; }
.album .albumList ul li:first-child a dl dd, .album .albumList ul li:last-child a dl dd {font-size: 8px; }

.album .albumList ul li:nth-child(2), .album .albumList ul li:nth-child(4) {  display:block; width: 200px; margin: 0 50px;}
.album .albumList ul li:nth-child(2) a, .album .albumList ul li:nth-child(4) a {width: 200px;}
.album .albumList ul li:nth-child(2) a img, .album .albumList ul li:nth-child(4) a img {width: 200px;}
.album .albumList ul li:nth-child(2) a dl, .album .albumList ul li:nth-child(4) a dl {background-color: rgba(0, 0, 0, 0.5); width: 200px; height: 200px; text-align: center; display: none; position: absolute; margin-top: -202px; color: #fff;}
.album .albumList ul li:nth-child(2) a:hover dl, .album .albumList ul li:nth-child(4) a:hover dl {background-color: rgba(0, 0, 0, 0.5); width: 200px; height: 200px; text-align: center; display: block; position: absolute; margin-top: -202px;color: #fff;}
.album .albumList ul li:nth-child(2) a dl dt, .album .albumList ul li:nth-child(4) a dl dt {padding-top: 70px; padding-bottom: 15px; font-size: 16px; font-weight: 700; }

.album .albumInfo {background-color: #3b3b3b; width: 60%; position: absolute; left: 10%; height: 80%; top: 10%;}
.album .albumInfo .albumDetail {color: #fff;}