main{
    position: fixed;
    width: 430px;
    right: 0;
    top: 0;
    z-index: 10;
    background: #000000;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
    /* 추가 CSS */
   transition: ease-in 0.5s all;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
   transform: translateX(100%);
}
.nav ol {
    position: absolute;
    left: 38px;
    top: 18%;
    width: 350px;
}
.nav ol li {
    height: 84px;
    vertical-align: top;
}
.nav ol li a {
    font-family: Helvetica Neue, 'Helvetica Neue', Helvetica;
    font-size: 34px;
    color: #4c4c4c;
    font-weight: 200;
}
.nav ol li a:hover {
    color: #FFFFFF;
}
.nav .compcont {
    position: absolute;
    left: 40px;
    right: 40px;
    bottom: 113px;
    overflow: hidden;
    padding-top: 14px;
    border-top: 1px solid #262626;
}
.nav .compcont li {
    overflow: hidden;
    margin-top: 15px;
    vertical-align: top;
    font-family: Helvetica Neue, 'Helvetica Neue', Helvetica;
    font-size: 12px;
    color: #ffffff;
    line-height: 16px;
}
.nav .compcont li strong {
    display: block;
    font-weight: normal;
}
.navopen {
    transition: ease-in 0.5s all;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}