#visual_work{
}
div#masonry { 
display: flex; 
flex-direction: column; 
flex-wrap: wrap;
height: 100vw;
max-height: 800px;
font-size: 0;
overflow-y: scroll;
margin: 0 50px;
}
div#masonry img {  
width: 33.3%;
transition: .8s opacity;
padding: 1px;
vertical-align: top;
}
div#masonry img:first-child{  
    width: 23.88%;
    transition: .8s opacity;
    padding: 1px;
    vertical-align: top;
    } 
div#masonry img:nth-child(2) {  
    width: 27%;
    transition: .8s opacity;
    padding: 1px;
    vertical-align: top;
    } 
div#masonry img:last-child {  
    width: 27%;
    transition: .8s opacity;
    padding: 1px;
    vertical-align: top;
    } 
div#masonry:hover img { opacity: 0.3; }
div#masonry:hover img:hover { opacity: 1; } 

.contactlist{
margin-left: 50px;
}
.contactlist li{
font-family: 'PT Sans', sans-serif;
color: #444;
line-height: 1.4;
}
.contactlist li:first-child{
    margin-bottom: 10px;
}
.contactlist li>a:link { color:#007DFF; text-decoration: none;}
.contactlist li>a:visited { color:#007DFF; text-decoration: none;} 
/*
.mapWrapper{
position: relative;
right: 0;
margin:50px;
height: 500px;
width: 90%;
background-color: lightblue;
}
#googleMap{
position: absolute;
height: 100%;
width: 100%;
}
*/
.want{
    font-family: 'PT Sans', sans-serif;
    margin: 0 0 50px 50px;
    font-size:110px;
    color:#007DFF;
    font-weight: 100;
    line-height: 1.5;
}
#want1{
    display: none;
}
#want2{
    display: none;
}
