*{padding: 0; margin: 0;}

body{font-family: 'Roboto', sans-serif; width: auto;}

section{
    width: 100%;height: 100%;
	position: fixed;
    text-align: center;
}

.p{
    position: absolute;
	top: 10%;
    padding-top: 15px;
    width: 100%; text-align: center;
    font-size: 50px;
    color: #fff;
}
pre{ 
	position: absolute;
	top: 10%;
    padding-top: 15px;
    width: 100%; text-align: center;
    font-size: 30px;
    color: #fff;
}


footer{
    position: absolute; top: 50%; margin-top: -50px;
    padding-top: 15px;
    width: 100%; text-align: center;
    font-size: 50px;
    color: #fff;
}

#content_flower #blue_flower_left{
	position: absolute;
	background-image: url(../images/blue_flower.png);
	width: 420px; height: 800px;
	background-position: top;
	background-repeat: repeat-y;
	
}
#content_flower #blue_flower_right{
	position: absolute;
	background-image: url(../images/blue_flower_right.png);
	width: 420px; height:780px;
	background-position: right;
	background-repeat: repeat-y;
	right: 0;
}

#circles{
	float: left;
	position: absolute;
	top:30%;
	left: 10%;	
}
.circle{ 
	width:200px;height:200px;
	border:5px dotted #440088;
	border-radius:100px;
	filter:alpha(opacity=30);
	opacity:0.5;
	background:#bbff88;
	float: left;
	margin:20px 10px;
	
}
#squares{
	float: left;
	position: absolute;
	top: 25%;
	left: 26%;
	width: 800px;
}
.square{
	width:200px;height:200px;
	border:3px solid #440088;
	filter:alpha(opacity=30);
	opacity:0.5;
	background:#bbff88;
	float: left;
	margin:20px 10px;
}