@charset "utf-8";.video_container{z-index:1000;}
.container .title{position:relative;padding:60px 0 0 0;height:70px;}
.container>.title>h2{text-align:center;color:#6cadc4;font-size:56px;letter-spacing:-0.02em;font-weight:500;}
.container>.title>h2:before{
  display:block;
  position:absolute;
  top:52px;left:50%;
  width:80px;height:80px;
  background-repeat:no-repeat;
  content:'';
  background-image:url('../img/stars.png');
  background-size: cover;
}
.scroll{
  display:block;
  width:50px; height:50px;
  margin:70px auto 60px;
  background-image:url('../img/down2.png');
  background-size: cover;
}
.scroll>a{
  display:block;
  width:100%; height:100%;
  /*color:black;*/
}



/*음악 재생 */
.toggle-music {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 5rem;
  height: 5rem;
  background: url('https://res.cloudinary.com/elliepooh/image/upload/v1491889929/music_s7aiet.svg') center center / 60% no-repeat;
  cursor: pointer;
}
.music-off {
  background: url('https://res.cloudinary.com/elliepooh/image/upload/v1491890054/music-off_nrnsni.svg') center center / 60% no-repeat;
}


header{overflow:hidden;width:100%;position:relative; background-color: #82a5ae;}
header>.container{position:relative;height:780px;}
header>.container>.cont_left{
  width:700px;position:absolute;
  top:270px;left:250px;
  text-align:center;z-index:100;
}
h1 span{font-size:80px;font-weight:800;}
h1 .title_1{display:block;color:transparent;}
h1 .title_2{color:#fff;text-align:right;}
h1 .title_3{font-weight:400;color:#fff;}
header .title_list_1, header .title_list_2{display:none;}
header .container .cont_left .header_txt_1{margin-top:-290px;color:#fff;font-size:16px;}
header .container .cont_left .bar{display:block;width:40px;height:5px;margin:22px auto;background-color:#fff;}
header .container .cont_left .header_txt_2{margin-top:260px;font-size:28px;color:#fff;letter-spacing:0.2em;font-weight:400;}
header .container .cont_left .header_txt_2+a.mouse{
  display:block;
  width:50px;height:45px;
  margin-top:70px;margin-left:320px;
  /*content:'';*/
  color:#fff;
  /*background-color: pink;*/
  background-image: url('../img/down.png');
  background-repeat:no-repeat;
  background-size: 100% 100%;
  transition:transform .5s;
  -webkit-transition:transform .5s;
}

header>.container>.cont_left>.header_txt_2+a.mouse:hover{transform:translateY(10px);}
header>.container>.cont_right{
  z-index:50;display:block;position:absolute;top:50%;left:800px;margin-top:-190px;width:650px;height:400px;
  /*background-image:url(../images/main_header_laptop.png);*/
  background-repeat:no-repeat;
}
header>.container>.cont_right_container{position:absolute;top:50%;left:888px;margin-top:-160px;display:block;width:460px;height:300px;overflow:hidden;}
header>.container>.cont_right_container>p.display{
  display:block;width:460px;height:1598px;
  /*background-image:url(../images/main_header_laptop_display_0.jpg);*/
  background-repeat:no-repeat;
}
header>.container>.cont_right_container>p.scroll{
  z-index:10000;position:absolute;top:14px;right:5px;display:block;width:10px;height:46px;
  /*background-image:url(../images/main_header_laptop_scroll_0.png);*/
  background-repeat:no-repeat;
}
header>.container>.icon{display:block;position:absolute;background-repeat:no-repeat;}
header>.container>.ic_1{width:86px;height:78px;top:160px;right:331px;
  /*background-image:url(../images/main_header_icon_1.png);*/
}
header>.container>.ic_2{width:527px;height:117px;top:300px;left:170px;
  /*background-image:url(../images/main_header_icon_2.png);*/
}
header .alert{display:none;z-index:1000;position:fixed;bottom:50%;left:50%;margin-left:-200px;padding:13px 16px;text-align:center;line-height:24px;color:#fff;font-size:22px;font-weight:800;font-size:18px;background-color:rgba(105,105,105,0.8);border-radius:10px;cursor:pointer;}
header .cont_left .title_1{position:relative;}
header .cont_left .title_1:after{content:attr(data-hover);position:absolute;width:100%;left:0;bottom:0;transform:rotateX(90deg);-webkit-transform:rotateX(90deg);-moz-transform:rotateX(90deg);-o-transform:rotateX(90deg);-ms-transform:rotateX(90deg);opacity:0;color:transparent;height:0;}
header .cont_left .title_1.on{color:transparent;}
header .cont_left .title_1.on:after{
  transform:rotateX(0deg);
  -webkit-transform:rotateX(0deg);
  -moz-transform:rotateX(0deg);
  -o-transform:rotateX(0deg);
  -ms-transform:rotateX(0deg);
  top:0;opacity:1;transition:all 0.7s;
  -webkit-transition:all 0.7s;
  -moz-transition:all 0.7s;
  color:#ffde00;
  text-shadow:-1px -1px 0px rgba(205,205,205,0.3), 1px 1px 0px rgba(140,140,140,0.7);
  height:100%;
}

section#about>.container{position:relative;height:660px;}
section#about>.container>.title>h2{margin-left:70px;}
section#about>.container>.title>h2:before{
  margin-left:-180px;
  /*background-position:-10px -10px;*/
}
section#about>.container>.main>div{float:left;}
section#about .about_cont_left{width:30%;margin-top:120px;text-align:right;}
section#about .about_cont_left>strong:first-child{font-size:38px;}
section#about .about_cont_left>strong:first-child+p{font-size:18px;margin:6px 0 30px;}
section#about .about_cont_left>strong:last-child{font-size:26px;line-height:34px}
section#about .about_cont_center{
  width:38%;height:400px;
  background-image:url('../img/white.png');
  background-repeat:no-repeat;
  background-position:center;
  background-size: 80% 80%;
}
section#about .about_cont_center>p{margin-top:410px;font-size:15px;text-align:center;line-height:22px;}
section#about .about_cont_right{width:30%;margin-top:135px;}
section#about .about_cont_right>p{font-size:17px;line-height:24px;letter-spacing:-0.02em;}
section#about .about_cont_right>button{position:absolute;bottom:260px;right:155px;width:230px;padding:10px 10px 8px 10px;font-size:18px;background:none;border:1px solid #f5989d;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;transition:all 0.3s;outline:0;box-shadow:3px 3px 0px #ffc8cb;}
section#about .about_cont_right>button:before{
  display:block;position:absolute;
  top:-28px;left:100%;
  width:31px;height:30px;
  /*background-image:url(../images/sub_web_header_icon.png);*/
  content:'';transform:rotate(80deg);
}
section#about .about_cont_right>button>span{color:#e41c27;}
.btn:after{display:block;content:'';width:0%;height:100%;position:absolute;top:0;left:0;background-color:#f5989d;-webkit-transition:width 0.4s;-moz-transition:width 0.4s;transition:width 0.4s;}
.btn:hover,.btn:active{color:#fff;outline:0;}
.btn:hover:after,.btn:active:after{content:'';width:100%;z-index:-100;outline:0;}
section#about .about_cont_right>.ic_3{display:block;position:absolute;bottom:286px;right:368px;width:30px;height:30px;
  /*background-image:url(../images/main_about_icon_1.png);*/
  background-repeat:no-repeat;transition:transform 1s;
}
section#about .about_more{display:none;position:relative;width:100%;height:600px;padding:40px 0 18px 0;background-color:#f8f8f8;}
section#about .about_more>ul{position:relative;width:1200px;margin:0 auto;}
section#about .about_more li>h3{display:inline;color:#fff;font-size:18px;width:100%;padding:5px 7px 3px 7px;background-color:#a1ccdc;}
section#about .more_line.l_1{display:none;position:absolute;left:0;top:40px;width:0%;height:1px;background-color:#bbb;}
section#about .more_line.l_2{display:none;position:absolute;right:0;bottom:40px;width:0%;height:1px;background-color:#bbb;}
section#about .about_more li:nth-child(1), section#about .about_more li:nth-child(2){float:left;width:40%;height:200px;margin-top:40px;padding-top:50px;border-bottom:1px solid #ddd;}
section#about .about_more li:nth-child(3), section#about .about_more li:nth-child(4){float:left;width:40%;height:190px;margin-bottom:40px;padding-top:60px;}
.about_more li:nth-child(1),.about_more li:nth-child(3){border-right:1px solid #ddd;margin-left:5%;padding-left:5%;}
.about_more li:nth-child(2),.about_more li:nth-child(4){padding-left:5%;}
.about_more li:nth-child(1)>p>span{display:block;margin:20px 0 4px;letter-spacing:-0.04em;font-weight:600;}
.about_more li:nth-child(2)>h3+p{margin-top:20px;}
.about_more li:nth-child(2)>.station{margin-top:14px;}
.about_more li:nth-child(2) .station span{
  display:inline-block;
  margin-right:20px;padding-top:60px;
  /*letter-spacing:-0.04em;*/
  text-align:center;
  /*background-image:url('../img/train.png');*/
  background-repeat:no-repeat;
  background-size: 100% 100%;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
}
.about_more li:nth-child(2) .station span:nth-child(1){
  width:80px;
  background-image:url('../img/train.png');
}
.about_more li:nth-child(2) .station span:nth-child(2){
  width:80px;
  background-image:url('../img/2.png');
}
.about_more li:nth-child(2) .station span:nth-child(3){
  width:80px;
  background-image:url('../img/2.png');
}
.about_more li:nth-child(3) p{
  /*margin-top:20px;padding-left:100px;*/
  line-height:25px;
  /*background-image:url('../img/2.png');*/
  background-repeat:no-repeat;
  background-position:10px 0;
  background-size: 100%;
  margin-top: 20px;
}
.about_more li:nth-child(3)>p>span{font-weight:600;}
.about_more li:nth-child(4)>p{margin-top:20px;line-height:25px;}
section#about .about_more button{position:absolute;bottom:14px;right:10px;border:0;background:none;font-size:18px;}
section#web>.container{margin-top:60px;position:relative;}
section#web>.container>.title>h2{margin-left:100px;}
section#web>.container>.title>h2:before{
  margin-left:-302px;
  /*background-position:-10px -100px;*/
}
section#web>.container>.main{width:1000px;height:1100px;margin:50px auto 30px;}
section#web>.container>.main .web{margin-top:20px;float:left;width:500px;padding-bottom:60px;}
section#web>.container>.main .web a.shortcut{display:block;width:410px;height:300px;margin:25px auto;}
.shortcut>img{width:100%;height:100%;}
section#web>.container>.main .web>div{margin-left:46px;}
section#web>.container>.main .web>div>h3{display:inline-block;margin-right:10px;font-size:30px;}
section#web>.container>.main .web>div>span{display:inline-block;font-size:14px;color:#aaa;}
section#web>.container>.main .web>div>p{position:relative;margin:18px 0 16px;padding-left:62px;font-size:14px;line-height:18px;}
section#web>.container>.main .web>div>p>span{display:block;position:absolute;width:56px;height:1px;background:#000;top:7px;left:0;}
section#web .links{padding-left:66px;}
section#web .links>a{margin-right:26px;font-size:19px;letter-spacing:-0.06em;}
section#web .links>a:hover{text-decoration:underline;}
section#web .links>a>.accent_1{color:#ef6970;font-weight:600;}
section#web .links>a>.accent_2{color:#4fb8e2;font-weight:600;}
/*.web.w_1 a.shortcut{background-image:url(../images/main_web_thu_1_hover.jpg);}
.web.w_2 a.shortcut{background-image:url(../images/main_web_thu_2_hover.jpg);}
.web.w_3 a.shortcut{background-image:url(../images/main_web_thu_3_hover.jpg);}
.web.w_4 a.shortcut{background-image:url(../images/main_web_thu_4_hover.jpg);}*/
.web{position:relative;}
.web img{opacity:1;-webkit-transition:all 0.2s ease-in;transition:all 0.2s ease-in;}
.web a:hover img{opacity:0;-webkit-transition:all 0.2s ease-in;transition:all 0.2s ease-in;}
section#design>.container{margin-top:30px;position:relative;}
section#design>.container>.title>h2{margin-left:90px;}
section#design>.container>.title>h2:before{
  margin-left:-282px;
  /*background-position:-10px -190px;*/
}
section#design>.container>.main{position:relative;width:920px;height:686px;margin:50px auto 30px;}
section#design>.container>.main>li{position:absolute;margin:0 10px;}
section#design>.container>.main .de_01{width:303px;height:260px;left:0;top:0;}
section#design>.container>.main .de_02{width:303px;height:390px;left:0;top:274px;}
section#design>.container>.main .de_03{width:267px;height:390px;left:34.5%;top:0;}
section#design>.container>.main .de_04{width:602px;height:260px;left:34.5%;top:404px;}
section#design>.container>.main .de_05{width:322px;height:140px;left:65%;top:0;}
section#design>.container>.main .de_06{width:322px;height:236px;left:65%;top:154px;}
section#design>.container>.main img{width:100%;height:100%;}
section#design>.container>.main+p{text-align:center;padding-bottom:50px;}
.caption-style-4{list-style-type:none;margin:0px;padding:0px;}
.caption-style-4 li{float:left;padding:0px;position:relative;overflow:hidden;}
.caption-style-4 li:hover img{opacity:1;transform:scale(1.1,1.1);-webkit-transform:scale(1.1,1.1);-moz-transform:scale(1.1,1.1);-ms-transform:scale(1.1,1.1);-o-transform:scale(1.1,1.1);}
.caption-style-4 img{margin:0px;padding:0px;float:left;z-index:4;-webkit-transition:all 0.25s ease-in-out;-moz-transition:all 0.25s ease-in-out;-o-transition:all 0.25s ease-in-out;-ms-transition:all 0.25s ease-in-out;transition:all 0.25s ease-in-out;transform:translateZ(0);}
.caption-style-4 .caption{display:none;cursor:pointer;position:absolute;-webkit-transition:all 0.45s ease-in-out;-moz-transition:all 0.45s ease-in-out;-o-transition:all 0.45s ease-in-out;-ms-transition:all 0.45s ease-in-out;transition:all 0.45s ease-in-out;}
.caption-style-4 .blur{display:none;position:absolute;background-color:rgba(0,0,0,0.6);z-index:5;}
.caption-style-4 .caption-text strong{font-size:24px;font-weight:800;color:#fff;}
.caption-style-4 .caption-text{z-index:10;position:absolute;font-size:14px;margin-top:4px;color:#fff;text-align:center;}
.caption-style-4 .de_01 .blur{width:303px;height:260px;}
.caption-style-4 .de_01 .caption-text{top:110px;width:303px;height:260px;}
.caption-style-4 .de_02 .blur{width:303px;height:390px;}
.caption-style-4 .de_02 .caption-text{top:170px;width:303px;height:390px;}
.caption-style-4 .de_03 .blur{width:267px;height:390px;}
.caption-style-4 .de_03 .caption-text{top:180px;width:267px;height:390px;}
.caption-style-4 .de_04 .blur{width:602px;height:260px;background-color:rgba(0,0,0,0.7);}
.caption-style-4 .de_04 .caption-text{top:110px;width:602px;height:260px;}
.caption-style-4 .de_05 .blur{width:322px;height:140px;}
.caption-style-4 .de_05 .caption-text{top:50px;width:322px;height:140px;}
.caption-style-4 .de_06 .blur{width:322px;height:236px;}
.caption-style-4 .de_06 .caption-text{top:100px;width:322px;height:236px;}
section#contact{padding-bottom:30px;background:#f8f8f8;}
section#contact>.container{padding-bottom:40px;}
section#contact>.container>.title>h2{margin-left:100px;}
section#contact>.container>.title>h2:before{
  margin-left:-206px;
  /*background-position:-10px -280px;*/
}
section#contact>.container>.main{position:relative;width:680px;height:580px;margin:50px auto 30px;background-color:#f4f5f7;border:1px solid #d0d0d0;}
section#contact>.container>.main>.title{height:130px;text-align:center;}
section#contact>.container>.main>.title>p:first-child{padding:20px;border-bottom:1px solid #d0d0d0;}
section#contact>.container>.main>.title>.date{display:block;width:98px;margin:25px auto;padding:4px 6px;color:#fff;font-size:14px;letter-spacing:-0.02em;background-color:#b0b0b0;border-radius:10px;}
section#contact>.container>.main>.talk{position:relative;width:500px;margin-left:14px;}
section#contact>.container>.main>.talk>span{display:inline-block;width:76px;height:76px;
  /*background-image:url(../images/main_contact_profile.png);*/
  background-repeat:no-repeat;}
section#contact>.container>.main>.talk>div>strong{position:absolute;top:20px;left:92px;font-size:22px;vertical-align:bottom;}
section#contact .talk_cont{margin-left:90px;margin-top:-20px;}
section#contact .talk_cont>.popup{opacity:0;margin-top:10px;}
section#contact .talk_cont>.popup.on{opacity:1;margin-top:0px;transition:all 0.2s;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;}
section#contact .talk_cont>.msg:after{position:absolute;width:20px;height:20px;left:-10px;top:-1px;
  /*background-image:url(../images/main_contact_arrow.png);*/
  background-repeat:no-repeat;content:" ";}
section#contact .talk_cont>.msg{display:inline-block;position:relative;margin-bottom:18px;padding:10px;line-height:24px;border-radius:4px;background-color:#fff;box-shadow:0px 2px 1px #ddd;font-size:15px;letter-spacing:-0.04em;}
section#contact .talk_cont>.msg>time{position:absolute;left:102%;bottom:2px;font-size:12px;color:#aaa;font-family:Helvetica;}
section#contact .talk_cont>.msg>.mobile, section#contact .talk_cont>.msg>.mail{color:#111;font-weight:800;}
section#contact .talk_cont>p:last-child{display:inline-block;margin-top:-6px;padding:10px;font-size:15px;background-color:#fff;border-radius:4px;}
section#contact .talk_cont>p:last-child>span:nth-child(1)>a{display:block;margin-bottom:6px;color:#6cc4b2;}
section#contact .talk_cont>p:last-child>span:nth-child(2)>a{border-bottom:1px solid #CCC;}
section#contact>.container>.main>.talk+p{position:absolute;width:100%;bottom:0;left:0;height:60px;margin-top:70px;font-size:18px;text-align:center;line-height:60px;color:#fff;background-color:#fb9eac;cursor:pointer;}
section#contact>.container>.main>.talk+p:hover{}
