@charset "utf-8";

/* google 시스템폰트 나눔고딕 */
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");

body{
    font-family:"NanumGothic", NanumGothic, "나눔고딕";
}
body *{letter-spacing:-1px;}

/* HEADER */
header{position:relative;}
header div img{width:100%;}
header .head_con{position:absolute; top:0; left:3%; width:97%; padding-top:30px;}
.head_con > a{float:left; display:block; width:50px;}
.head_con a img{width:100%;}
.head_con nav{float:left; padding-top:12px;}
nav .gnb{overflow:hidden; padding-left:10px;}
nav .gnb li{float:left;}
.gnb li a{padding:8px; color:#fff; text-align:center;}
header > div:nth-child(3){position:absolute; top:320px; left:50%; margin-left:-570px;}
header div p{font-family:'Berlin Sans FB'; font-size:120px; color:#fff;}



/* CONTENTS */
.contents{background:url('../img/bg_play.jpg') no-repeat; margin-top:-2px;}
/* SECTION 공통 */
.contents section{width:1200px; margin:0 auto;}
section h2{font-size:50px; text-align:center; padding-top:300px; margin-bottom:50px;}
section h2 span{display:block; width:40px; height:2px; background:#444; margin:40px auto 0;}

/* CHARACTERS */
.contents > section{padding-bottom:540px;}
.contents > section h2{margin-bottom:200px;}
article{overflow:hidden; width:100%;}
article div{width:300px;}
article div img{width:100%;}
.contents > section article:nth-child(even) div{float:left; margin-right:30px;}
.contents > section article:nth-child(odd) div{float:right; margin-left:30px;}
.contents > section article:nth-child(odd) p{text-align:right;}
article p{font-size:16px;font-weight:800; padding-top:60px;}
article p strong{display:block; font-family:'Berlin Sans FB'; font-size:30px; font-weight:500; margin-bottom:14px;}
article p span{display:block; color:#fff; font-size:20px; font-weight:500; text-decoration:italic; margin-top:50px;}
