@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/* 
@font-face {
	font-family:'KoPub Dotum';
    src:url("../fonts/KoPub Dotum Bold.ttf") format("truetype");
    src:url("../fonts/KoPub Dotum Light.ttf") format("truetype");
    src:url("../fonts/KoPub Dotum Medium.ttf") format("truetype");
} */

html{color: white;font-family: 'Open Sans', sans-serif;}
html,body{height: 100%;}

section{height: 100%;}
section #section_body{height: 100%;}


/* .top{display: inline-table;} */
.back{
    display: inline-block;
    width: 100%;height: 80%;
    background: url('../img/about/top.jpg');    
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: inherit;
    /* background-position: 50% 50%; */
    background-size: cover;
}
.back h1{font-size: 50px;margin-top: 50px;margin-left: 50px;margin-bottom: 50px;}
.article{height: 100px;position: relative;}
/* .article #left{float: left;width: 50%;height: 100%;background-color: pink;display: inline-block} */
/* .article #left p{margin-bottom: 30%;} */
/* .article #right{float: right;width: 50%;height: 100%;background-color: blue;height: 80%;display: inline-block;position: absolute;} */
/* .article #right p{margin-bottom: 30%;} */
.back #back_content{font-family:'KoPub Dotum';font-size: 17px;line-height: 40px;}
.back #back_content h2{margin-top: 120px;margin-left: 50px;}
.back #back_content p{margin-left: 50px;font-weight: 100;word-break: keep-all;width: 500px;}









/****a**************article*******************/

.article{display: flex; display: -webkit-flex; flex-wrap: wrap; justify-content: space-between;
    height: 20%;font-size: 40px;}
.article #left{background-color: #22303a ; width: 50%; height: 100%;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
}
.article #right{background-color: #141c22; width: 50%; height: 100%;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
}


.article #left #p_button{height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.article #left #p_button a{}
.article #left #p_button a:link{text-decoration: none;color: white;}
.article #left #p_button a:visited{text-decoration: none;color: white;}
.article #left #p_button a:hover{}
.article #left #p_button a:active{}
.article #left #p_button a p{}


.article #right #t_button{height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.article #right #t_button a{}
.article #right #t_button a:link{text-decoration: none;color: white;}
.article #right #t_button a:visited{text-decoration: none;color: white;}
.article #right #t_button a:hover{}
.article #right #t_button a:active{}
.article #right #t_button a p{}


@media screen and (min-width:1440px){
    .back{background-position: 50% 0%;}
    .back #back_content{height: 500px;}
    /* .back{background-size: contain;} */
}

@media screen and (max-width:1280px){
    .back{background-position: 50% 0%;}
}