@charset "UTF-8";

@font-face{
	font-family:'Helios';
	src:url('../font/Helios.woff') format('woff');
}

.helios{
	font-family: 'Helios';
} 
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
	color:inherit;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body {
	background:#000;
}


.section{
	text-align:center;
}
#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #fff;
}
#menu li.active a:hover{
	color: #fff;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
	display:none;
}


.skill-bar-100{
	position: relative;
	top:7px;
	height: 2px;
	width:270px;
	background: #666;
}

.skill-bar{
	height:100%;
	background:red;	
	float:right;
}

.skill-bar-end{
	position:absolute;
	top:-1px;
	height:4px;
	width:32px;
	background:red;
}

/****************************/
/** Index0 **/
/****************************/

#title0-box{
	position:absolute;
	top:50%;
	left:50%;
	width:1040px;
	height:300px;
	margin:-150px 0 0 -520px;
	text-align:center
}

#title0-top-control{
	position:absolute;
	top:0;
	left:50%;
	width:240px;
	height:30px;
	margin-left:-120px;
}

#title0-top-control > div{
	position:relative;
	float:left;
	height:1px;
	background:red;
	opacity: 0.4;
}

#title0-top-control #control-left{
	width:60px;
}

#title0-top-control #control-center{
	width:120px;
	top:20px;
}

#title0-top-control #control-right{
	width:60px;
}

#title0-top-control .arrow-box{
	position:absolute;
	width:120px;
	height:20px;
	left:50%;
	background:transparent;
	margin-left:-60px;
	opacity: 1;
}

.arrow-box i{
	position:absolute;
	font-size:22px;
	color:white;
}

.arrow-box i:nth-of-type(1){
	left:-11px;
}

.arrow-box i:nth-of-type(2){
	right:-11px;
}


#title0-top-progress{
	position: absolute;
	top:30px;
	left:0;
	width:100%;
	height:16px;
	border:1px solid rgba(255,255,255,0.5);
	border-radius: 4px;
}

#title0-top-progress > div{
	position: absolute;
	top:8px;
	left:50%;
	width:120px;
	height:1px;
	margin-left:-60px;
	background:red;
	
}

#title0-sight-left{
	position:absolute;
	width:320px;
	height:80px;
	border-top:1px solid rgba(255,255,255,0.5);
	border-left:1px solid rgba(255,255,255,0.5);
	top:50px;
	left:0;
	overflow: hidden;
}

.sight-corner{
	width:10px;
	height:10px;
	position:absolute;
	top:-5px;
	transform: rotate(45deg);
	background:#fff;	
}

.sight-point{
	position: absolute;
	width:100px;
	height:3px;
	background:rgba(255,255,255,0.3);
}

#title0-sight-left .sight-point:nth-of-type(1){
	left:0;
}

#title0-sight-left .sight-point:nth-of-type(2){
	left:200px;
	width:120px;
}

#title0-sight-left .sight-corner{
	left:-5px;
}


#title0-sight-right{
	position:absolute;
	width:320px;
	height:80px;
	border-top:1px solid rgba(255,255,255,0.5);
	border-right:1px solid rgba(255,255,255,0.5);
	top:50px;
	right:0;
	overflow: hidden;
}

#title0-sight-right .sight-point:nth-of-type(1){
	right:0;
}

#title0-sight-right .sight-point:nth-of-type(2){
	right:200px;
	width:120px;
}

#title0-sight-right .sight-corner{
	right:-5px;
}

#title0-box h1{
	color:#fff;
	font-size:80px;
	letter-spacing: 5px;
	padding:85px 0 20px;

}

#title0-box h2{
	color:#fff;
	font-size:30px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	opacity: 0.7;
}

#title0-bottom-control{
	position: absolute;
	bottom:16px;
	left:50%;
	width:450px;
	height:25px;
	margin-left:-225px;
}

#title0-bottom-control .svg-line-point{
	position: absolute;
	top:23px;
	width:16px;
	height:2px;
	border-left:20px solid rgba(255,255,255,0.5);
	border-right:20px solid rgba(255,255,255,0.5);
}

#title0-bottom-control .svg-line-point:nth-of-type(1){
	left:80px;
}

#title0-bottom-control .svg-line-point:nth-of-type(2){
	right:80px;
}

#title0-bottom-control .svg-line-point:nth-of-type(3){
	top:22px;
	left:50%;
	width:2px;
	height:4px;
	border-left:2px solid rgba(255,255,255,0.5);
	border-right:2px solid rgba(255,255,255,0.5);
}

#title0-bottom-control .arrow-box{
	position:absolute;
	width:240px;
	height:20px;
	bottom:-40px;
	left:50%;
	margin-left:-120px;
	background:transparent;
	opacity: 0.5;
	transform: scale(1.2,1.2);
	transform-origin: center;
}
#title0-bottom-progress{
	position: absolute;
	bottom:0;
	left:50%;
	width:400px;
	height:12px;
	margin-left:-200px;
	border:1px solid rgba(255,255,255,0.5);
	border-radius: 4px;
}

#title0-bottom-progress > div {
	position: absolute;
	bottom:6px;
	left:50%;
	width:60px;
	height:1px;
	margin-left:-30px;
	background:red;
}


/****************************/
/** Index1 **/
/****************************/



#about-box{
	position:relative;
	width:100%;
	height:100%;
	text-align: left;
}


#info {
	position:relative;
	top:200px;
	width:50%;
}

.info-content{
	position:relative;
	width:480px;
	height:78px;
	margin-bottom:20px;
	text-align: center;
	border:1px solid rgba(255,255,255,0);
}

.info-content > svg{
	position: absolute;
	width:78px;
	height: 78px;
	left:100px;
}
.info-content h2{
	width:100px;
	line-height:78px;
	font-size:10px;
	color:#666;
	float: left;
}

.info-content > h1{
	width:78px;
	height:78px;
	color:#fff;
	font-size:40px;
	border:1px solid white;
	border-radius: 50%;
	line-height: 78px;
	float: left;
}

.info-content dl{
	margin-top: 20px;
}

.info-content dt{
	color:#fff;
	font-size:14px;
	text-align: left;
	float: left;
	width:60px;
	margin-left:30px;
}

.info-content dd{
	color:#fff;
	font-size:14px;
	text-align: left;
}

.info-content .bar{
	position: absolute;
	right:0;
	top:50%;
	width:20px;
	height:1px;
	background:#fff;
}

.long-bar{
	position: absolute;
	top:39px;
	left:480px;
	width:1px;
	height:202px;
	background:#fff;
}

#resume{
	position:relative;
	top:30px;
	left:0;
	width:auto;
	height:50px;
	clear: both;
}

#resume svg{
	width:100%;
	height:100%;
	left:0;
}


#resume h1{
	border: 0;
	margin:-4px 0 0 300px;
	font-size:24px;
	line-height:24px;
}

#skills{
	position:absolute;
	top:200px;
	right:0;
	width:50%;
}

.skills-content{
	position:relative;
	width:380px;
	float: right;
	right:100px;
	text-align: right;
}

.skills-content:nth-of-type(2){
	clear: both;
	margin-top:20px;
}

.skills-content h1{
	font-size: 20px;
	color:#fff;
	margin-bottom:20px;
}

.skill{
	position:relative;
	width:100%;
	height:16px;
	margin-bottom:10px;
}

.skill h2{
	font-size: 14px;
	color:#fff;
    line-height:16px;
	float: right;
}

#keywords{
	position:absolute;
	width:100%;
	bottom:0;
}
.keyword{
	position:absolute;
	width:200px;
	height:200px;
}

.keyword svg {
	width:100%;
	height:100%;
	position: absolute;
}

.keyword h1{
	width:198px;
	height: 198px;
	line-height: 198px;
	text-align: center;
	font-size:24px;
	color:#fff;
}

#keyword0{
	bottom:200px;
	left:360px;
}

#keyword1{
	bottom:60px;
	left:110px;
}

#keyword2{
	bottom:200px;
	right:360px;
}

#keyword3{
	bottom:60px;
	right:110px;
}

.keyword-bar{
	position:absolute;
	bottom:159px;
	width:80px;
	height:2px;
	background:rgba(255,255,255,0.5);
}

#keyword-bar-left{
	left:15px;
}

#keyword-bar-right{
	right:15px;
}

#keyword-content-box{
	width:940px;
	height:160px;
	position:relative;
	left:50%;
	margin-left:-450px;
}

#keyword-content{
	position:absolute;
	width:500px;
	height:50px;
	left:195px;
	top:23px;
	text-align: center;
}

#keyword-content p{
	color:#fff;
	font-size:14px;
	line-height:50px;
}

/****************************/
/** Index2 **/
/****************************/


#folio-box{
	position: relative;
	width:100%;
	height: 100%;
}

#folio-slider-box{
	position: absolute;
	width:100%;
	height:100%;
}

#category{
	position: relative;
	width:100%;
	height: 40px;
	top:220px;
}

#category ul {
	width:640px;
	margin:0 auto;
}

#category ul li{
	width:200px;
	height: 40px;
	border:1px solid red;
	color:red;
	line-height: 40px;
	float:left;
}

#category ul li:nth-of-type(2){
	border:1px solid red;
	background:red;
	color:#fff;
	margin:0 16px;
}

#folio-slider{
	position: absolute;
	width:1200px;
	height:600px;
	top:50%;
	left: 50%;
	margin:-180px 0 0 -600px;
}
#folio-slider ul{
}
#folio-slider ul li{
	width:400px;
	height: 300px;
	float:left;
	box-sizing: border-box;
}

#folio-slider ul li a{
	display: block;
	width:368px;
	height: 267px;
	box-sizing: border-box;
	margin-left:16px;
	position: relative;
	background:rgba(0,0,0,0.4);
	opacity: 0.7;
	border:1px solid white;
}

#folio-slider ul li a.active{
	opacity: 1;
	border:1px solid red;
	box-shadow: 0 0 25px red;
}

#folio-slider ul li a.active h1{
	color:red;
}

#folio-slider ul li a svg{
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left: 0;
	z-index:9;
}


#folio-slider a img{
	width:100%;
	height: 207px;
	vertical-align: center;
}

.folio-slider-content{
	position: absolute;
	bottom:0;
	width:100%;
	height: 60px;
	background:rgba(0,0,0,0.7);
}

.folio-slider-content h2{
	margin-top:7px;
	font-size: 14px;
	color:#666;
}
.folio-slider-content h1{
	line-height:30px;
	font-size: 22px;
	color:#fff;
}

.folio-slider-nav{
	position: absolute;
	width:60px;
	height: 50px;
	top:57%;
	opacity: 0.3;
}

.folio-slider-nav img{
	width:100%;
	height:100%;
}

#folio-slider-box #folio-prev{
	left:100px;
}

#folio-slider-box #folio-next{
	right:100px;
}

#folio-slider-dottedbtn{
	position: absolute;
	width:100%;
	bottom:50px;
}

#folio-slider-dottedbtn ul{
	width:130px;
	margin:0 auto;
}

#folio-slider-dottedbtn ul li{
	width:12px;
	height: 12px;
	margin-right:10px;
	float:left;
	border:1px solid red;
	opacity: 0.5;
	box-sizing:border-box;
}

#folio-slider-dottedbtn ul li:last-child{
	margin:0;
}

#folio-slider-dottedbtn ul li.active{
	background:red;
	opacity: 1;
}

#folionav-box.index2{
	transform: scale(1.4,1.4);
}