html, body { height: 100%; background-color:#1A1A1A; color: #fff;overflow-x: hidden;} 


nav{width: 100%; height: 40px;background-color: #000;z-index: 50;position:fixed;}
nav ul{margin:0px 8%; line-height: 40px; }
nav ul li{float: right; margin-left: 50px;}
nav ul li:first-child{float: left; margin-left: 0px}
nav a:link,nav a:visited,nav a:active  {text-decoration: none; color: #eee;}
nav a:hover {text-decoration: underline; color: #FF6060;}


article{width: 84%; height: 100%; margin: 0px 8%; z-index: 0; margin-bottom: 340px; }


article:first-of-type p,h2{font-family: 'Anton', sans-serif;letter-spacing: 12px;}



/* article:first-of-type{ } */
article:first-of-type p{
     z-index: 3;position:relative; top: 500px;left: 230px;
     font-size: 60px;color: #555; font-family: 'Anton', sans-serif;
}

article:first-of-type hr{
    z-index: 3;position:relative;  top:470px;left: -560px;
    border: 1px solid #fff; width: 190px; 
}     
article:first-of-type a{
z-index: 5;position:relative; top: 430px;
font-size: 60px;color: #EBEBEB; }

article:first-of-type div {
    width: 650px;height: 540px; z-index: 2;position:relative;top: 80px;left: 526px;
    background: url('../images/0my_1.jpg') no-repeat; 
}
article:first-of-type div:last-of-type {
    width: 650px;height: 540px; z-index: 1;position:relative;top: -670px;left: 650px;
    background: url('../images/0my_2.jpg') no-repeat;
}


h2{margin-left: 70%; font-size: 55px; }
article:nth-of-type(2) hr{ border: 1px solid #fff; width: 700px; float: right;position:relative; top: -26px;left: 200px;}  
article:nth-of-type(2) span{ float: right;position:relative; top: -38px;left: 630px;color: #818181;}  
/* article:nth-of-type(2) ul{} */
article:nth-of-type(2) ul li{margin-top: 100px; }
article:nth-of-type(2) ul li dl{width:854px;height: 480px;border: 1px solid #fff; }

article:nth-of-type(2) ul li dl dt{z-index: 5;position:relative; top: 200px;left: -50px; font-size: 48px;}
/* article:nth-of-type(2) ul li dl dd{} */
article:nth-of-type(2) ul li dl dd:first-of-type{z-index: 3;position:relative;  top:-80px;left: 70px;}
article:nth-of-type(2) ul li dl dd:nth-last-of-type(2){z-index: 4;position:relative; top:-350px;left: 700px; width: 700px;line-height: 20px;padding: 12px;background-color: rgba(53, 53, 53, 0.3)}
/*-----------------------------------------------------------------------------*/
@font-face {
    font-family: 'RacingSansOne';
    font-style:normal;
    font-weight:400;
    src: local('RacingSansOne'), local('RacingSansOne'),
    url(../fonts/RacingSansOne-Regular.ttf);
}
