@import url(http://fonts.googleapis.com/earlyaccess/kopubbatang.css);
body{background-color: #e9e7db;  
font-family: 'KoPub Batang', serif;}




/*--------------------------------------------------------------------------*/

.loader{position: fixed;
    display: none;
    width: 100vw; 
    height: 100vh;
    z-index: 999;
background: #e9e7db; }

#main_nav{display:none;}
section{ display: block; float: left;}


main{ position:relative;}

#introduce{}
#introduce h2{    z-index: 4; width: 100%; position: absolute; top: 200px; }
#introduce h2 img{    width: 700px;}

#introduce .introduce_scroller{  }
#introduce .explain {     position: relative;  z-index: 5;}
#introduce p {   float: left;    
  white-space: normal;
     
  width: 480px;
  margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .05em;
    margin-bottom: 20px;
    margin-right: 50px;
    display: block;
    text-align:justify;}





#lyrics {display: none}



#photo{}
#photo #photo1 img{  width: 630px;  position: absolute; top: 294px; left: 540px;}
#photo #photo2 img{  width: 404px;  position: absolute;  top: 600px; left: 256px;}
#photo #photo3 img{  width: 458px;  position: absolute;  top: 110px; left: 180px;}
#photo #photo4 img{  width: 425px;  position: absolute;   top: 650px; left: 902px;}
#photo #photo5 img{  width: 530px;  position: absolute;   top: 210px;left: 910px;}






#video{margin: auto;}
#video #tv{}
#video #tv .tv_in{   margin-left: 15%;}
#video #tv .tv_in img{ width:80%;  }
#video #channel_switch{}
#video #power_switch{}