body {background-color: #000; color: #fff;}
body a {color: #fff;}

header {width: 100%; height: 70px;position: fixed; top:0;}
header nav {}
header nav dl {}
header nav dl dt {float: left;}
header nav dl dt h1 {}
header nav dl dt h1 a {}
header nav dl dt h1 a span {}
header nav dl dd {}
header nav dl dd ul {float: right;}
header nav dl dd ul li {float: left; margin-left: 10px;}
header nav dl dd ul li a {}


section {}
section article.main {width: 100%; height: 100%;}
section article.main h2 {margin: 80px; text-align: center; font-size: 200px;}
section article.main p {text-align: center;}
section article.about {width: 100%; height: 100%;}
section article.about h2 {}
section article.about p {}
section article.about div {}
section article.album {width: 100%; height: 100%;}
section article.album ul {}
section article.album ul li {}
section article.album ul li a {}
section article.album ul li a img {width: 200px;}
section article.album ul li a dl {}
section article.album ul li a dl dt {}
section article.album ul li a dl dd {}

footer {}
footer a.totop {position: fixed; right: 20px; bottom: 20px; width: 30px; height: 30px;}


