@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
h1{
	font-size: 6em;

}
p{
	font-size: 2em;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;
}
#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #fff;
}
#menu li.active a:hover{
	color: #fff;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

/* Loading
 * --------------------------------------- */

#load{
	position:fixed;
	width:100%;
	height:100%;
	z-index:9;
}

#count{
	position:absolute;
	width:150px;
	height:150px;
	left:50%;
	top:50%;
	margin:-75px 0 0 -75px;
	color:#fff;
	font-size:58px;
	line-height:150px;
	text-align: center;
}

#fullpage{
}
/* Hud
 * --------------------------------------- */

#hud-box{
	position:fixed;
	top:0;
	width:100%;
	height:100%;
	z-index:1;
}
.hud{
}

.circle{
	position:absolute;
	top:50%;
	left:50%;
	border-radius: 50%;
	width:1600px;
	height:1600px;
	margin:-800px 0 0 -800px;
}


.point-box{
	position:absolute;
	left:50%;
	top:50%;
	width:800px;
	height:800px;
	margin:-400px 0 0 -400px;
}

#point{
	width:40px;
	height:40px;
	position:absolute;
	background:#000;
	margin:-20px 0 0 -20px;
}
   #point::after{
    width:14px;
    height:1px;
    background:#fff;
    content:"";
    left:50%;
    top:50%;
    margin-left:-8px;
    position:absolute;
    transform:rotate(-45deg);
  }
  #point::before{
    left:50%;
    top:50%;
    margin-left:-8px;
    width:14px;
    height:1px;
    background:#fff;
    content:"";
    position:absolute;
    transform:rotate(45deg);
  }

#point-circle{
	width:4px;
	height:4px;
	border: 18px solid #000;
	border-radius:50%; 
	position:absolute;
	background:#fff;
	margin:-20px 0 0 -20px;
}

#point:nth-of-type(1),#point-circle:nth-of-type(1){
	top:0;
	left:50%;
}

#point:nth-of-type(2),#point-circle:nth-of-type(2){
	top:100%;
	left:50%;
}

#point:nth-of-type(3),#point-circle:nth-of-type(3){
	top:50%;
	left:0;
}

#point:nth-of-type(4),#point-circle:nth-of-type(4){
	top:50%;
	left:100%;
}

#circle1 circle{
	transform-origin: center;
}

#circle1 circle:nth-of-type(2n){
	opacity: 0.5;
}

#circle1 circle:nth-of-type(1){
	transform: scale(0.9,0.9);
}

#circle1 circle:nth-of-type(2){
	transform: scale(0.85,0.85);
}

#circle1 circle:nth-of-type(3){
	transform: scale(0.75,0.75);
}

#circle1 circle:nth-of-type(4){
	transform: scale(0.7,0.7);
}

#circle1 circle:nth-of-type(5){
	transform: scale(0.6,0.6);
}

#circle1 circle:nth-of-type(6){
	transform: scale(0.55,0.55);
}

#circle1 circle:nth-of-type(7){
	transform: scale(0.45,0.45);
}

#circle1 circle:nth-of-type(8){
	transform: scale(0.4,0.4);
}

#circle1 circle:nth-of-type(9){
	transform: scale(0.3,0.3);
}

#circle1 circle:nth-of-type(10){
	transform: scale(0.25,0.25);
}

#circle1 circle:nth-of-type(11){
	transform: scale(0.15,0.15);
}

#circle1 circle:nth-of-type(12){
	transform: scale(0.1,0.1);
}


#circle2-1{
	transform: scale(0.65,0.65);
	opacity:0;
}

#circle2-2{
	transform: scale(0.63,0.63);
}

#circle2-3{
	transform: scale(0.2,0.2);
}

#circle2-4{
	transform: scale(0.5,0.5);
}

#circle2-6{
	transform: scale(0.4,0.4);
}

#circle2-6 circle {
	transform: rotate(-90deg);
	transform-origin: center;
	
}


#circle2-7{
	transform: scale(0.3,0.3);
}

#circle2-7 circle {
	transform: rotate(-90deg);
	transform-origin: center;
	
}
