@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
html,body{height: 100%; font-family: 'Noto Sans KR', sans-serif;}
body{overflow-x: hidden;background-color: #fff2e5;-ms-overflow-style: none;}
body::-webkit-scrollbar {display:none;}
li{list-style: none;}

section{position: relative; height: 100%;}
section .content{width: 1200px; margin: 0 auto; position: relative; height: 100%;}
/*--- music-icon ---*/
div.music{
  width: 50px; height: 50px;
  top: 30px; right: 25px;
  background: url('../images/music.png')no-repeat center;
  background-size: cover;
  position: fixed; /*top: 30px; right: -25px;*/
  z-index: 7000; cursor: pointer;
  transition: all .5s;
}
div.music.icon{
  animation-name: icon;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-delay: 1s;
  animation-duration: 1s;
}
.wrap{height: 100%; transition: all 1s;}
.wrap.blur{filter: blur(30px);}
div.music.active{
  background: url('../images/music-white.png')no-repeat center; background-size: cover;
  right: 30px;
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

/*--- index ---*/

.index{
  background: url('../images/main.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.index .content {width: auto;}
.index .content .info{
  position: absolute;
  left: 100px; bottom: 100px;
  color:#fff; width: 650px; word-break: keep-all;
}
.index .content .info dl {display: inline-block;}
.index .content .info dl dt{font-size: 100px; font-weight: bold; margin-bottom: 30px;}
.index .content .info dl dd{
  float: left;
  font-size: 12px;
  line-height: 24px;
}
.index .content .info dl dd::after{
  content: '|';
  margin: 0 10px;
}
.index .content .info dl dd:nth-child(6)::after{content: ''; margin-right: 0;}
.index .content .info dl dd:last-child{clear: both;}
.index .content .info dl dd:last-child::after{content: ''; margin: 0;}
.index .content .info .button{
  display: block;
  width: 100px; height: 34px;
  border: 1px solid #fff; border-radius: 20px;
  background-color: rgba(0,0,0,0);
  color:#fff;
  margin: 20px 30px 0 0;
  text-align: center;
  font-size: 13px; font-style: italic;
  line-height: 34px;
  text-decoration: none;
  letter-spacing: 2px;
  float: left;
}
.index .content .info .button:hover{background-color: #fff; color:#000;}

/*--- about ---*/

.cast .content{
  height: 100%; display: table;
  font-size: 12px;
  line-height: 24px;
  z-index: 200;
}
.cast .content>ul{height: 100%; display: table-cell; vertical-align: middle;}
.cast .content>ul>li{float: left; width: 50%; height: 80%;}
.cast .content .actor{position: relative; float: left; overflow: hidden;}
.cast .content .actor .pic{height: 100%; width: 400%;}
.cast .content .actor .pic li{width: 25%; height: 100%; float: left;}
.cast .content .actor .pic li:first-child{background: url('../images/cast1.jpg')center; background-size: cover;}
.cast .content .actor .pic li:nth-child(2){background: url('../images/cast2.jpg')center; background-size: cover;}
.cast .content .actor .pic li:nth-child(3){background: url('../images/cast3.jpg')center; background-size: cover;}
.cast .content .actor .pic li:last-child{background: url('../images/cast4.jpg')center; background-size: cover;}
.cast .content .actor .name{color:#fff; right: 30px;}
.cast .content .name{
  z-index: 2;
  position: absolute;
  top: 250px;
}
.cast .content .name dl dt{font-weight: bold; font-size: 13px;}
.cast .content .name dl dd{display: block; font-weight: normal; font-size: 10px;}
.cast .content .name dl{margin-bottom: 10px;}
.cast .content .name dl::after{
  display: block;
  content:'';
  width: 20px; height: 1px;
  margin-top: 16px;
  background-color: #fff;
  opacity: 0.6;
}
.cast .content .txt{position: relative;}
.cast .content .txt h2{
  position: absolute;
  font-size: 130px; line-height: normal;
  color:#ff9a98;
  letter-spacing: 20px;
  top: 20px; left: -150px;
}
.cast .content .txt h2::after{
  display: inline-block;
  content : '';
  width: 150px; height: 15px;
  margin-bottom: 40px;
  background-color: #ff9a98;
}
.cast .content .txt .name{left: 30px;}
.cast .content .txt .name dl{float: left;}
.cast .content .txt .name dl::after{background-color: #000;}
.cast .content .txt .name dl:first-child{margin-right: 100px;}
.cast .content .txt .name dl:nth-child(3){clear: both;}
.cast .content .txt .name dl:nth-child(4){clear: both; margin-right: 100px;}

/*--- photo ---*/

.photo{height: auto;}
.photo .content {padding: 100px 0;}
.photo .content h2{
  position: relative;
  height: 65px;
  margin: -30px 0 30px -27px;
  color: #ff9a98;
  font-size: 130px;
  letter-spacing: 15px;
}
.photo .content h2::after{
  display: block; position: relative;
  z-index: 3;
  content:''; margin: 40px 0 0 -40px;
  width: 130px; height: 15px;
  background-color: #ff9a98;
}
.photo .content .photo_wrap{position: relative; z-index: 2; height: 1960px; overflow: hidden;}
.photo .content ul{width: 390px; float: left; margin-right: 15px;}
.photo .content ul:last-child{margin-right: 0;}
.photo .content ul li {height: 100%; width: 100%; margin-bottom: 15px; position: relative;}
.photo .content ul li:last-child{margin-bottom: 0;}
.photo .content ul li img{display: block; width: 100%;}
.photo .content ul li:hover{
  cursor:pointer;
  transform:scale(0.97); /* 마우스 오버 시 이미지 크기 1.1배 확대*/
  -o-transform:scale(0.97);
  -moz-transform:scale(0.97);
  -webkit-transform:scale(0.97);

  transition: transform .2s;
  -o-transition: transform .2s;
  -moz-transition: transform .2s;
  -webkit-transition: transform .2s;
}
.photo .content ul li:hover span{display: block;}
.photo .content ul li img.w{height: 260px;}
.photo .content ul li img.h{height: 585px;}

/*--photo pop-up*/
.popup.active{visibility: visible; opacity: 1;}
.popup{
	visibility: hidden;
  opacity: 0;
	width: 100%; height: 100%;
	position: fixed;
	top: 0; left: 0;
	z-index: 8000;
	box-sizing: border-box;
  transition: all 1s;
}
.popup.active img{visibility: visible; opacity: 1; width: 800px; height: 520px; margin: -260px 0 0 -400px; transition: all 1s;}
.popup img{
  visibility: hidden;
  opacity: 0;
	display: block;
  position: absolute;
  width: 0; height: 0;
  top: 50%; left: 50%;
  margin: 0;
}
.popup img.h{
  width: 400px; height: 590px;
  margin: -295px 0 0 -200px;
}

/*--- ost ---*/

.ost{
  position: fixed;
  top: 0; left: 0;
  height: 100%; width: 100%;
  opacity: 0; visibility: hidden;
  transition: all .6s; transition-delay: .5s;
  z-index: 6999;
  background: url('../images/background.jpg')no-repeat center;
  background-attachment: fixed;
}
.ost.active{opacity: 1; visibility: visible;}
.ost.active .content {left: 0;}
.ost .content{
  width: 100%; height: 600px;
  position: absolute; top: 50%;
  margin-top: -300px; left: -100%; color:#fff;
  transition: left 1s; transition-delay: .5s;
}
.ost .content ul{width: 100%; height: 100%;}
.ost .content>div{height: 100%; float: left;}
.ost .content .album {width: 400px; transition: width 1s; transition-delay: .5s; }
.ost .content .album .album-img{
  border-radius: 50%;
  margin: 105px auto 0;
  height: 260px; width: 260px;
  position: relative;
  transition: margin 1s; transition-delay: 1s;
}
.ost .content .album .album-img .circle{
  position: absolute;
  top: 50%; left:50%;
  border-radius: 50%;
  border: 1px solid #fff;
}
.ost .content .album .album-img .later{animation-delay: 1s;}
.ost .content .album .album-img .ani{
  animation-name: circle;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
.ost .content .album img.rotate{
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-duration: 100s;
}
.ost .content .album img{display: block; width: 250px; height: 250px; margin: 0 auto; position: relative; z-index: 3;}
.ost .content .track{margin: 0 auto; width: calc(100% - 400px);}
.ost .content .track .tracklist_wrap{
  height: 100%; padding: 0 100px; overflow-y: scroll;
  -ms-overflow-style: none;
}
.ost .content .track .tracklist_wrap::-webkit-scrollbar {display:none;}
.ost .content .track .tracklist_wrap table{width: 100%; font-size: 10px;}
.ost .content .track .tracklist_wrap table tr{height: 60px;}
.ost .content .track .tracklist_wrap table td{vertical-align: middle;}
.ost .content .track .tracklist_wrap table .num{width: 10%;}
.ost .content .track .tracklist_wrap table .song{width: 80%; cursor: pointer;}
.ost .content .track .tracklist_wrap table tr td.active{opacity: 1;}
.ost .content .track .tracklist_wrap table tr td{opacity: .5; transition: all .2s;}
.ost .content .track .tracklist_wrap table tr:hover td{opacity: 1;}
.ost .content .track .tracklist_wrap table .time{width: 10%; text-align: right;}
.ost .content .track .tracklist_wrap table span{display: block; margin-top: 5px;}

.ost .content .txt{width: 100%; margin-top: 80px;}
.ost .content .txt span{display: block; font-size: 20px; line-height: 30px; text-align: center;}
.ost .content .txt span.play_singer{font-size: 15px;}
@keyframes circle {
    from {width: 0; height: 0; opacity: 1; margin: 0;}
    to {width: 400px; height: 400px; opacity: 0; margin: -200px 0 0 -200px;}
}
@keyframes icon {
    from {top: 30px; right: -10px;}
    to {top: 30px; right: 25px;}
}
@keyframes rotate {
    from {
      -ms-transform: rotate(0deg); /* IE 9 */
      -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg); /* IE 9 */
      -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
      transform: rotate(360deg);
    }
}

@media only screen and (min-width : 1600px) {
  .popup.active img{width: 1150px; height: 700px; margin: -350px 0 0 -575px;}
  .popup img.h{width: 520px; height: 700px; margin: -350px 0 0 -260px;}
}
