/*@font-face {
  font-family: 'YoonGothic740';
  src: url(YoonGothic740.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}*/
@font-face {
  font-family: 'NamnumBarunGothic';
  src: url(NanumBarunGothic.ttf) format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'NamnumBarunGothic';
  src: url(NanumBarunGothicBold.ttf) format('truetype');
  font-style: bold;
}
@font-face {
  font-family: 'NamnumBarunGothic';
  src: url(NanumBarunGothicLight.ttf) format('truetype');
  font-style: lighter;
}
/*@font-face {
  font-family: 'NamnumBarunGothic';
  src: url(NanumBarunGothicUlLight.ttf) format('truetype');
  font-style: thin;
}*/

/*@import url('https://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url('https://fonts.googleapis.com/earlyaccess/nanumgothic.css');*/
/*@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);*/

body {
  /*font-family: YoonGothic740;*/
  /*font-family: 'Nanum Gothic', sans-serif;*/
  font-family: 'NamnumBarunGothic', sans-serif;
}
