body {width:100%;height:100%;background-color:burlywood;}
div#title {margin-left:30px;margin-top:30px;font-size:18px;position:absolute;}
div#title > h1 {margin-left:10px;}
div.menu > button#menu_bt {float:right;margin-top:2%;margin-left:95%;z-index:9999;position:absolute;background-color:transparent;border:none;padding:0px;}
div.menu > button#menu_bt:hover{cursor:pointer;border:none;}
div.menu > ul {height:100%;width:100%;position:absolute;background-color: black;z-index:100;}
div.menu > ul > li {width:100%;height:80px;font-size:50px;text-align:center;margin-top:5%;color:white;}
div.menu > ul > li:hover{background-color:coral;cursor:pointer;}
div.menu > ul > li#poster1{margin-top:16%;}
section {width:100%;height:100%;position:absolute;}
section.poster1 > div {
    width:390px;height:500px;background-color:white;
    text-align:center;overflow:hidden;position: absolute;
    margin: calc(50vh - 45vh) calc(50vw - 33vh);
    margin-top:100px;
    box-shadow:6px 6px 50px gray;
    }
section.poster1 > div > div {width:200px;height:200px;border-radius:100px;}
section.poster1 > div > div.red {
    opacity:0.5;
    background-color:red;
    animation-duration: 3s;
    animation-name: redBall;
    animation-iteration-count: infinite;
    position: absolute;
    }
section.poster1 > div > div.blue {
    opacity:0.5;
    background-color:blue;
    animation-duration: 3s;
    animation-name: blueBall;
    animation-iteration-count: infinite;
    position: absolute;
    }
section.poster1 > div > div.yellow {
    opacity:0.5;
    background-color:yellow;
    animation-duration: 3s;
    animation-name: yellowBall;
    animation-iteration-count: infinite;
    position: absolute;
    }


/*animation-keyframes*/
@keyframes redBall{
    0% {
        margin-left:10px;
    }
    25% {
        margin-left:200px;
        margin-top:200px;
    }
    50% {
        margin-left:10px;
        margin-top:400px;
    }
    75% {
        margin-left:-50px;
        margin-top:100px;
    }
    100% {
        margin-left:10px;
    }
}

@keyframes blueBall {
    0% {
        margin-left:180px;
        margin-top:50px;
    }
    25% {
        margin-left:-50px;
        margin-top:200px;
    }
    50% {
        margin-left:150px;
        margin-top:300px;
    }
    75% {
        margin-left:200px;
        margin-top:155px;
    }
    100% {
        margin-left:180px;
        margin-top:50px;
    }
    
}

@keyframes yellowBall {
    0%{
        margin-top:300px;
        margin-left:50px;
    }
    25%{
        margin-top:-50px;
        margin-left:100px;
    }
    50% {
        margin-left:200px;
        margin-top:50px;
    }
    75% {
        margin-left:-50px;
        margin-top:250px;
    }
    100% {
        margin-top:300px;
        margin-left:50px;
    }
}




