#intro_loader{
    display: none;
}
header .menu-btn{
    position: absolute;
    z-index:9999;
    top:30px;
    left:30px;
    height:50px;
    width:50px;
    background-color: white;
}
header .menu-wrap{
    display: none;
}
header .share-btn{
    position: absolute;
    z-index: 1000;
    top:30px;
    right:30px;
    height:50px;
    width:50px;
    background-color: white;
}
section .main-video{
    position: relative;
    background-color: darkgray;
}
section .main-video button.audio_Control{
    position: relative;
    width:30px;
    height:30px;
    left:30px;
    bottom: 20px;
}
section .main-video #main_text-warp{
    position: absolute;
    display:table;
    top:0;
    left:0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 100%;
    vertical-align:middle
}
section .main-video #main_text{
    display:table-cell;
    text-align:center;
    vertical-align:middle;
}
section .main-video #main_text span{
    position: relative;
    display: inline-block;
    width: 50%;
}
section .main-video #main_text span#main_title_text{
    padding-top: 20%;
    font-size: 80px;
}
section .main-video #main_text span#main_sub_text{
    padding-top: 2%;
    font-size: 30px;

}
section .main-video #clock{
    position: relative;
    right: 30px;
    bottom: 20px;
    float:right;

}
section .wrap{
    text-align: center;
    width:100%;
    height:100%;
    border: solid 1px white;
    background-color: lightgray;
}

section h2{
    font-size: 50px;
}