html,body{height: 100%;}
article{float: left; height: 100%;}

section{position: relative; width: 100%;}
section:first-child{position: absolute; top: 0; height: 350px; z-index: 2;}
section:last-child{height: 100%;}
.album{
  background: url('../images/album.jpg')no-repeat;
  background-size: cover;
  width: 350px;
  z-index: 300;
}

.title{
  width: 100%;
  background-color: #ff0000;
}
.title .inner{padding-left: 370px; position: relative; height: 100%;}
.title .inner h2{font-size: 40px;}
.title .inner span{display: block;}
.title .inner .box{
  position: absolute; bottom:0; left: 0;
  width: 100%; height: 100px;
  background-color: #000;
}

.left{position: absolute; top: 0; left: 0; width: 350px;}
.info{background-color: #ffff00;}
.info p{
  font-size: 11px;
  padding: 370px 20px 20px;
  text-align: justify;
  line-height: 17px;
}
.track{
  width: 100%; overflow-y: scroll;
  -ms-overflow-style: none;
}
.track::-webkit-scrollbar {display:none;}
.track .tracklist_wrap{padding: 370px 20px 20px 370px;}
.track .tracklist_wrap table{width: 100%;}
.track .tracklist_wrap table tr{height: 60px;}
.track .tracklist_wrap table .num{width: 20%;}
.track .tracklist_wrap table .song{width: 50%;}
.track .tracklist_wrap table .singer{width: 30%;}
